.cife_table {
    width:100%;
    border-spacing: 0;
}

.cife_table th{
    padding: 5px;
    text-align: left;
}


.cife_table td{
    padding:5px;
}

.cife_table tr:nth-child(odd){
    background-color: #f5f5f5;
}